<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Regist</title>
</head>
<body>

<form method="post" enctype="multipart/form-data" >
    <input name="username">
    <input type="email" name="email">
    <input type="password" name="password">
    <label for="file">Your CV</label>
    <input type="file" id="file" name="CV" >
    <button type="submit">Submit</button>
</form>

</body>
</html>